<div fxFill fxLayout="column" fxLayoutAlign="center start">
   <button mat-button color="primary" (click)="observableCreate()">create / observable</button>
   <button mat-button color="primary" (click)="fromClick()">from</button>
   <button mat-button color="primary" (click)="ofClick()">of</button>
   <button mat-button color="primary" (click)="intervalClick()">Interval Click</button>
   <button mat-button color="primary" (click)="timerClick()">Timer Click</button>
   <button mat-button color="primary" (click)="fromEventClick()">FromEvent Click</button>
   <button mat-button color="primary" (click)="unsubscribeClick()">Unsubscribe</button>
</div>